<div ng-controller='groupCtrl'>

<group-rating></group-rating>

<section class='instructions'>

	<!-- <p>The 12 women's olympic soccer teams are divided into three groups of four. During the group stage, each team must play each other team in their group once, and the teams are then ranked based on the scores they earn during these matches. These rankings determine which teams move on to quarter finals.</p><br> -->

	<p class='bold-instr'>Decide how you think the teams in each group will rank. Your rankings will determine the first phase of your bracket.</p>

</section>

<main class='main-section'>
	<section class='group-container'>

		<h2 class='group-title'>E</h2>
		<section class='group'>
			<ul class='sortable' id='groupE'>
				<li>Brazil <span class='group-code'>(G1)</span></li>
				<li>China (G2)</li>
				<li>Sweden (G3)</li>
				<li>South Africa (G4)</li>
			</ul>
		</section>

	</section>

	<section class='group-container'>

		<h2 class='group-title'>F</h2>
		<section class='group'>
		<ul class='sortable' id='groupF'>
			<li>Canada (G1)</li>
			<li>Australia (G2)</li>
			<li>Zimbabwe (G3)</li>
			<li>Germany (G4)</li>
		</ul>
		</section>

	<!-- class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span> -->

	</section>

</main>




<section class='group-container' id='needs-width'>

	<h2 class='group-title'>G</h2>
	<section class='group'>
	<ul class='sortable' id='groupG'>
		<li>United States (G1)</li>
		<li>New Zealand (G2)</li>
		<li>France (G3)</li>
		<li>Colombia (G4)</li>
	</ul>
	</section>

</section>

</section>

<button class='populate-bracket-btn' ui-sref='bracket' ng-click='loadBracket()'>Show me my bracket!</button>

</div> <!-- end groupCtrl -->


<!-- <section class='group'>

<ul id="sortable">
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 1</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 2</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 3</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 4</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 5</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 6</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 7</li>
</ul>

</section> -->



<!-- <section class='column-section'>

	<section class='column'>

		<group-stage ng-repeat='match in matches[0]' team-data='match'></group-stage>
	
	</section>
	
	<section class='column'>
		
		<group-stage ng-repeat='match in matches[1]' team-data='match'></group-stage>

	</section>
	
	<section class='column'>

		<group-stage ng-repeat='match in matches[2]' team-data='match'></group-stage>
	
	</section>

</section> -->


